<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/docs_min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap_min.css' %}">
    <style>
        .user_container{
            width:1000px;
            margin: 30px auto;
        }

    </style>
</head>
<body>
    <div class="user_container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true"><b>Test App</b></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="/" role="tab" aria-controls="profile" aria-selected="false">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sigin-tab" data-toggle="tab" href="/logout" role="tab" aria-controls="contact" aria-selected="false">Logout</a>
            </li>
        </ul><br><br>
        <h3>All Users</h3><br>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">created_at</th>
                <th scope="col">User level</th>
              </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                        <td>{{user.user_level}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    
</body>
</html>